extend layout
block navbars 
	div.navbar.navbar-inverse.navbar-static-top
		div.container
			div.navbar-header
				button.navbar-toggle(type='button',data-toggle='collapse',data-target='.navbar-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
					a.navbar-brand(href='javascript:void(0)') Trip Tracker
			div.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.active
						a(href='javascript:void(0)') Home
					li.active
						a(href='javascript:void(0)') About
					li.active
						a(href='javascript:void(0)') Contact
block content
	div me