!!!5
html
	head
		title #{title}
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='css/bootstrap.css')
		link(rel='stylesheet', type='text/css', href='css/index.css')
		link(rel='stylesheet', type='text/css', href='magnific-popup/magnific-popup.css')
		link(rel='stylesheet', href='css/bootstrap.min.css', media='screen')
		link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css', media='screen')
		script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyC1vS57CqJhzrJ5uoJLDH3vQ93C_PegQdY&sensor=false')
		script(type='text/javascript', src='js/epoly-v3.js')
		script(type='text/javascript', src='js/jquery-1.9.1.min.js')
		script(type='text/javascript', src='magnific-popup/jquery.magnific-popup.js')
		script(type='text/javascript', src='js/bootstrap.min.js')
		script(type='text/javascript', src='index.js')
		script(type='text/javascript', src='DestinationManager.js')
	body
		block navbars
		block content